# --- Vivado Workspaces & Generated Directories ---
**/*.cache/
**/*.hw/
**/*.sim/
**/*.ip_user_files/
**/*.runs/
**/*.srcs/
**/*.gen/
**/*.dcp

# --- Temporary Vivado Tool Outputs ---
*.log
*.jou
*.str
*.pb
*.vdi
.Xil/
**/.Xil/

# --- Xilinx IP Whitelisting Infrastructure ---
**/ip/**/*
!**/ip/**/
!**/ip/**/*.xci
**/ip/**/*.log
**/ip/**/*.xml

# --- Block Design & IP Repository Cleanup ---
**/hdl/**/*.hwh
**/hdl/**/*.bda
**/hdl/**/*.bxml
**/hdl/**/*.veo
**/hdl/**/*.vho
**/hdl/**/*_ooc.xdc
**/hdl/**/*.protoinst
**/hdl/**/*.hwdef
**/hdl/**/*.ui
**/hdl/**/sim/
**/hdl/**/synth/
**/hdl/**/hdl/*_wrapper.v
**/hdl/**/ipshared/


**/ip/**/synth/
**/ip/**/sim/
**/ip/**/doc/
