# --- Vivado Workspaces & Generated Directories ---
**/*.cache/
**/*.hw/
**/*.sim/
**/*.ip_user_files/
**/*.runs/
**/*.srcs/
**/*.gen/
**/*.dcp

# --- Temporary Vivado Tool Outputs ---
*.log
*.jou
*.str
*.pb
*.vdi
.Xil/
**/.Xil/

# --- Xilinx IP Whitelisting Infrastructure ---
**/ip/**/*
!**/ip/**/
!**/ip/**/*.xci
**/ip/**/*.log
**/ip/**/*.xml
